{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title">{{ .Title }}</h1>
    {{- if .Description }}<div class="post-description">{{ .Description }}</div>{{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">{{- partial "post_meta.html" . -}}</div>
    {{- end }}
  </header>
  {{- if .Content }}
  <div class="post-content-wrap"><div class="post-content md-content">{{ .Content }}</div></div>
  {{- end }}
  <footer class="post-footer">{{- partial "post_nav_links.html" . }}</footer>
</article>

{{- end }}